.finance__table th:first-child {
  border-top-left-radius: 4px;
}
.finance__table th:last-child {
  border-top-right-radius: 4px;
}
.finance__table td {
  border: 0.2px solid #000000;
}

.table__footer {
  border-bottom-left-radius: 4px;
}
.finance__table tfoot td {
  border: 0.2px solid rgba(0, 0, 0, 0.5);
}
tfoot td:nth-child(2) {
  border-bottom-right-radius: 4px;
}
