table {
  border-collapse: separate;
  border-spacing: 0;
}
td {
  border: solid 0.2px #000;
}
.finance__table th:first-child {
  border-top-left-radius: 4px;
}
.finance__table th:last-child {
  border-top-right-radius: 4px;
}

.table__footer {
  border-bottom-left-radius: 4px;
  overflow: hidden;
}

/* tfoot tr:first-child td:last-child {
  border-top-right-radius: 10px;
} */
