@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth !important;
  font-family: "Inter", sans-serif;
}
body {
  background: #f7f8fa;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

.recharts-default-legend {
  display: flex !important;
  column-gap: 20px;
  flex-wrap: wrap !important;
  align-items: center !important;
  justify-content: center;
}
.recharts-legend-item {
  position: relative !important;
  margin-left: 10px !important;
}

.recharts-legend-item-text {
  font-size: 10px !important;
  color: #000000 !important;
  font-family: "Inter", sans-serif;
  width: max-content !important;
}
.recharts-legend-item svg {
  opacity: 0 !important;
}
@media screen and (min-width: 300px) and (max-width: 576px) {
  .container {
    width: 100%;
    padding: 15px 0 !important;
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  .container {
    width: 100%;
    padding: 15px 0 !important;
  }
}
@media screen and (min-width: 769px) and (max-width: 991px) {
  .container {
    width: 100%;
    padding: 15px 0 !important;
  }
}

@media screen and (min-width: 991px) and (max-width: 1024px) {
  .container {
    width: 100%;
    padding: 15px 0 !important;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1200px) {
  .container {
    width: 100%;
    padding: 15px 0 !important;
  }
}
@media screen and (min-width: 1201px) and (max-width: 1299px) {
  .container {
    width: 100%;
    padding: 15px 0 !important;
  }
}
